.expense-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expense-form-card {
  width: 100%;
  max-width: 750px;
  max-height: 85h;
  overflow: auto;
  padding: 30px;
  border-radius: 20px;
  background: linear-gradient(135deg, #ffffff, #f8fafc);
}

h2 {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  color: #1e293b;
  margin-bottom: 25px;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

mat-form-field {
  width: 100%;
}

.full-width {
  width: 100%;
  margin-top: 20px;
}

textarea {
  min-height: 100px;
}

.save-btn {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  border-radius: 12px;
  position: sticky;
  bottom: 0;
  background: #4f46e5;
  color: white;
  z-index: 10;
}

/* Better input spacing */
::ng-deep .mat-mdc-form-field-subscript-wrapper {
  margin-top: 8px;
}

/* Better material look */
::ng-deep .mat-mdc-text-field-wrapper {
  border-radius: 12px !important;
}